Source: zentyal-metapackages
Section: web
Priority: optional
Maintainer: Zentyal Packaging Maintainers <pkg-team@zentyal.com>
Build-Depends: debhelper (>= 4.0.0), cdbs
Standards-Version: 3.7.3

Package: zentyal
Architecture: all
Depends: zentyal-core, zentyal-software
Description: Zentyal - Core metapackage
 Zentyal is a Linux small business server that can act as
 a Gateway, Unified Threat Manager, Office Server, Infrastructure
 Manager, Unified Communications Server or a combination of them. One
 single, easy-to-use platform to manage all your network services.
 .
 This metapackage installs the Zentyal core and the Software module.

Package: zentyal-all
Architecture: all
Depends: zentyal-gateway, zentyal-infrastructure, zentyal-office,
         zentyal-communication, zentyal-webmail, zentyal-radius,
         zentyal-ipsec, zentyal-monitor, zentyal-ips, zentyal-nut,
         zentyal-openchange, zentyal-sogo, zentyal-remoteservices
Description: Zentyal - All Modules
 Zentyal is a Linux small business server that can act as
 a Gateway, Unified Threat Manager, Office Server, Infrastructure
 Manager, Unified Communications Server or a combination of them. One
 single, easy-to-use platform to manage all your network services.
 .
 This metapackage installs all Zentyal modules.

Package: zentyal-gateway
Architecture: all
Depends: zentyal-squid, zentyal-trafficshaping, zentyal-software
Description: Zentyal - Gateway Suite
 Zentyal is a Linux small business server that can act as
 a Gateway, Unified Threat Manager, Office Server, Infrastructure
 Manager, Unified Communications Server or a combination of them. One
 single, easy-to-use platform to manage all your network services.
 .
 This metapackage installs typical modules to configure Zentyal as a Gateway.

Package: zentyal-infrastructure
Architecture: all
Depends: zentyal-dhcp, zentyal-dns, zentyal-openvpn, zentyal-webserver,
         zentyal-ntp, zentyal-software
Description: Zentyal - Network Infrastructure Suite
 Zentyal is a Linux small business server that can act as
 a Gateway, Unified Threat Manager, Office Server, Infrastructure
 Manager, Unified Communications Server or a combination of them. One
 single, easy-to-use platform to manage all your network services.
 .
 This metapackage installs typical modules to manage the network
 infrastructure with Zentyal.

Package: zentyal-office
Architecture: all
Depends: zentyal-samba, zentyal-printers, zentyal-antivirus, zentyal-ebackup,
         zentyal-software
Description: Zentyal - Office Suite
 Zentyal is a Linux small business server that can act as
 a Gateway, Unified Threat Manager, Office Server, Infrastructure
 Manager, Unified Communications Server or a combination of them. One
 single, easy-to-use platform to manage all your network services.
 .
 This metapackage installs typical modules to configure Zentyal as an Office
 server.

Package: zentyal-communication
Architecture: all
Depends: zentyal-mail, zentyal-jabber, zentyal-mailfilter, zentyal-antivirus,
         zentyal-ebackup, zentyal-software
Description: Zentyal - Communications Suite
 Zentyal is a Linux small business server that can act as
 a Gateway, Unified Threat Manager, Office Server, Infrastructure
 Manager, Unified Communications Server or a combination of them. One
 single, easy-to-use platform to manage all your network services.
 .
 This metapackage installs typical modules to configure Zentyal as a
 Communication server.

Package: zsupporttools
Architecture: all
Depends: at, ack-grep, autojump, bash-completion, binutils, byobu,
         cabextract, ccze, colordiff, cron, curl, dhcpdump, dnsutils,
         dlocate, dstat, elinks, ethtool, file, ftp, gpw, hdparm, htop,
         iftop, info, iotop, ipcalc, iptables, iptraf, kpartx, joe,
         logrotate, lsof, ltrace, lynx, mailutils, man-db, manpages,
         mime-support, mosh, mtr-tiny, ncftp, ngrep, nmap, netstat-nat,
         pastebinit, psmisc, pv, rsync, screen, slay, squidclient, strace, sysstat,
         tcpdump, telnet, time, tofrodos, traceroute, unrar-free,
         uuid-runtime, unzip, vim, wget, zip
Description: Zentyal - Support Tools
 Compilation of tools useful for maintenance/support.
