Source: ebox-jabber
Section: web
Priority: optional
Maintainer: José Antonio Calvo  <jacalvo@ebox-platform.com>
Build-Depends: debhelper (>= 5.0.0), cdbs
Standards-Version: 3.8.2

Package: ebox-jabber
Architecture: all
Depends: ebox (>= 1.5), ebox (<< 1.5.100), ebox-usersandgroups (>= 0.7.0.99), jabberd2, jabber-muc (>= 0.8-2), ${misc:Depends}
Conflicts: ebox (<< 0.11.99)
Description: eBox - Jabber (Instant Messaging)
 eBox Platform is an open source small business server that can act as
 a Gateway, a Unified Threat Manager, an Office Server, an Infrastructure
 Manager, a Unified Communications Server or a combination of them. One
 single, easy-to-use platform to manage all your network services.
 .
 This module adds a Jabber server to your eBox installation, providing your
 users with instant messaging.
