Source: ebox-radius
Section: web
Priority: optional
Maintainer: Jorge Salamero Sanz  <jsalamero@ebox-platform.com>
Build-Depends: debhelper (>= 4.0.0), cdbs
Standards-Version: 3.7.3

Package: ebox-radius
Architecture: all
Depends: ebox (>= 1.1~svn), freeradius, ${misc:Depends}
Description: eBox - Backup
 eBox is a framework for the development and deployment of security-wise
 network services in small and medium-sized networks, offering a simplified
 graphical interface to non expert users. It can be set up as a gateway,
 having some extra features over a usual router.
 .
 This module offers RADIUS integration in eBox.
