Source: ebox-services
Section: web
Priority: optional
Maintainer: Ubuntu MOTU Developers <ubuntu-motu@lists.ubuntu.com>
XSBC-Original-Maintainer: Javier Uruen  <javi@warp.es>
Build-Depends: debhelper (>= 4.0.0), cdbs
Standards-Version: 3.7.3

Package: ebox-services
Architecture: all
Depends: ebox (>= 0.11.99), ebox (<< 0.12), ${misc:Depends}
Conflicts: ebox (<< 0.9.99)
Replaces: ebox (<< 0.9.99)
Description: eBox - Services management
 eBox is a framework for the development and deployment of security-wise
 network services in small and medium-sized networks, offering a simplified
 graphical interface to non expert users. It can be set up as a gateway,
 having some extra features over a usual router.
 .
 This module adds services support, allowing to create and manage services 
 which could be used by firewall rules.
