Source: ebox-squid
Section: web
Priority: optional
Maintainer: Isaac Clerencia <isaac@warp.es>
Build-Depends: debhelper (>= 4.0.0)
Standards-Version: 3.6.1

Package: ebox-squid
Architecture: all
Depends: ebox-firewall, squid, dansguardian
Description: eBox proxy cache and content filter module
 eBox is a framework for the development and deployment of security-wise
 network services in small and medium-sized networks, offering a simplified
 graphical interface to non expert users. It can be set up as a gateway,
 having some extra features over a usual router.
 .
 This module adds a proxy cache and a HTTP content filter to your eBox
 installation.
