
# Device to listen on
dev = "eth0";

# Internal networks (IP, MASK) pairs
internal_networks = (
    ("192.168.100.0", "255.255.255.0"),
    ("192.168.1.0", "255.255.255.0")
);

# Dump status each X seconds
dump_rate = 600;

