Source: zentyal-services
Section: web
Priority: optional
Maintainer: Zentyal Packaging Maintainers <pkg-team@zentyal.com>
Uploaders: José A. Calvo <jacalvo@zentyal.com>
Build-Depends: zbuildtools
Standards-Version: 3.9.2
Homepage: http://www.zentyal.org/
Vcs-Browser: http://git.zentyal.org/zentyal.git/tree/HEAD:/main/services
Vcs-Git: git://git.zentyal.org/zentyal.git

Package: zentyal-services
Architecture: all
Depends: zentyal-core (>= 4.2), zentyal-core (<< 4.3), ${misc:Depends}
Description: Zentyal - Network Services
 Zentyal is a Linux small business server that can act as
 a Gateway, Unified Threat Manager, Office Server, Infrastructure
 Manager, Unified Communications Server or a combination of them. One
 single, easy-to-use platform to manage all your network services.
 .
 This module adds services support, allowing to create and manage services
 which could be used by firewall rules.
