Source: ebox-openvpn
Section: web
Priority: optional
Maintainer: José Antonio Calvo  <jacalvo@ebox-platform.com>
Build-Depends: debhelper (>= 5.0.0), autotools-dev, cdbs
Standards-Version: 3.8.2

Package: ebox-openvpn
Architecture: all
Depends: ebox (>= 1.5), ebox (<< 1.5.100), openvpn, zip, ebox-firewall, ebox-ca, quagga, openssl, ${misc:Depends}
Replaces: ebox (<< 0.9.99)
Conflicts: ebox (<< 0.9.99)
Description: eBox - VPN Service
 eBox Platform is an open source small business server that can act as
 a Gateway, a Unified Threat Manager, an Office Server, an Infrastructure
 Manager, a Unified Communications Server or a combination of them. One
 single, easy-to-use platform to manage all your network services.
 .
 This module adds a OpenVPN server to eBox.
