Source: zentyal-antivirus
Section: web
Priority: optional
Maintainer: José Antonio Calvo <jacalvo@zentyal.org>
Build-Depends: zbuildtools
Standards-Version: 3.9.2

Package: zentyal-antivirus
Architecture: all
Depends: zentyal-core (>= 4.2), zentyal-core (<< 4.3), zentyal-firewall,
         clamav, clamav-daemon, clamav-freshclam, libclamav-xs-perl,
         libdate-calc-xs-perl, libfile-readbackwards-perl, ${misc:Depends}
Description: Zentyal - Antivirus
 Zentyal is a Linux small business server that can act as
 a Gateway, Unified Threat Manager, Office Server, Infrastructure
 Manager, Unified Communications Server or a combination of them. One
 single, easy-to-use platform to manage all your network services.
 .
 This module adds an antivirus scanner server to your Zentyal installation,
 allowing its use by other Zentyal modules that needs to scan for virus.
