[Unit]
Description=Zentyal vncproxy daemon

[Service]
ExecStart=/usr/share/zentyal-virt/certconf
Restart=on-failure

[Install]
WantedBy=multi-user.target
