Source: ebox-usersandgroups
Section: web
Priority: optional
Maintainer: José Antonio Calvo <jacalvo@zentyal.org>
Build-Depends: debhelper (>= 5.0.0), cdbs
Standards-Version: 3.8.2

Package: ebox-usersandgroups
Architecture: all
Depends: ebox (>= 2.0), ebox (<< 2.0.100), libebox (>= 2.0.7), slapd (>= 2.4.15), ldap-utils (>= 2.4.15), ldap-auth-config, ebox-firewall, libnet-ldap-perl, libcrypt-rijndael-perl, libcrypt-smbhash-perl, adduser, ${misc:Depends}
Description: Zentyal - Users and Groups
 Zentyal is a Linux small business server that can act as
 a Gateway, Unified Threat Manager, Office Server, Infrastructure
 Manager, Unified Communications Server or a combination of them. One
 single, easy-to-use platform to manage all your network services.
 .
 This module adds a LDAP server to your Zentyal installation, allowing you
 to add users and groups to be used by other Zentyal modules.
