Source: ebox-usersandgroups
Section: web
Priority: optional
Maintainer: Isaac Clerencia <isaac@warp.es>
Build-Depends: debhelper (>= 4.0.0)
Standards-Version: 3.6.1

Package: ebox-usersandgroups
Architecture: all
Depends:  ebox (= 0.10), slapd (>=2.2.23-5), ebox-firewall, libnet-ldap-perl
Conflicts: ebox (<< 0.10), ebox-samba (<< 0.7.0.99), ebox-mail (<< 0.7.0.99), ebox-jabber (<= 0.7.0.99)
Description: User and Group management
 eBox is a framework for the development and deployment of security-wise
 network services in small and medium-sized networks, offering a simplified
 graphical interface to non expert users. It can be set up as a gateway,
 having some extra features over a usual router.
 .
 This module adds a LDAP server to your eBox installation, allowing you
 to add users and groups to be used by other eBox modules.
