Source: zentyal-mail
Section: web
Priority: optional
Maintainer: José Antonio Calvo <jacalvo@zentyal.org>
Build-Depends: zbuildtools
Standards-Version: 3.9.2

Package: zentyal-mail
Architecture: all
Replaces: ebox-mail (<< 2.0.100)
Depends: zentyal-core (>= 3.0.9), zentyal-core (<< 3.0.100), zentyal-firewall, zentyal-users, postfix, postfix-ldap, postfix-pcre, ssl-cert, libsasl2-modules, dovecot-common (>= 1.1.11), dovecot-imapd, dovecot-pop3d, dovecot-sieve, dovecot-managesieved, dovecot-ldap, dovecot-gssapi, postgrey, fetchmail, archivemail (>> 0.7.2-4), ${misc:Depends}
Description: Zentyal - Mail Service
 Zentyal is a Linux small business server that can act as
 a Gateway, Unified Threat Manager, Office Server, Infrastructure
 Manager, Unified Communications Server or a combination of them. One
 single, easy-to-use platform to manage all your network services.
 .
 This module adds a mail server to your Zentyal installation.
