Source: zentyal-ids
Section: web
Priority: optional
Maintainer: José Antonio Calvo <jacalvo@zentyal.org>
Build-Depends: zbuildtools
Standards-Version: 3.9.2

Package: zentyal-ids
Architecture: all
Depends: zentyal-network, ${misc:Depends}, snort (>= 2.7)
Description: Zentyal - Intrusion Detection System
 Zentyal is a Linux small business server that can act as
 a Gateway, Unified Threat Manager, Office Server, Infrastructure
 Manager, Unified Communications Server or a combination of them. One
 single, easy-to-use platform to manage all your network services.
 .
 This module adds an Intrusion Detection System to your Zentyal installation.
