Source: ebox-zarafa
Section: web
Priority: optional
Maintainer: José Antonio Calvo <jacalvo@zentyal.org>
Build-Depends: debhelper (>= 7.0.0), cdbs
Standards-Version: 3.8.2

Package: ebox-zarafa
Architecture: all
Depends: ebox (>= 2.0), ebox (<< 2.0.100), ebox-mail (>= 2.0.5), ebox-webserver (>= 2.0.4), mysql-server, zarafa, zarafa-webaccess, zarafa-webaccess-mobile, zarafa-indexer, aspell, z-push, ${misc:Depends}
Description: Zentyal - Groupware (Zarafa)
 Zentyal is a Linux small business server that can act as
 a Gateway, Unified Threat Manager, Office Server, Infrastructure
 Manager, Unified Communications Server or a combination of them. One
 single, easy-to-use platform to manage all your network services.
 .
 This module adds Zarafa integration with Zentyal.
