Source: openchange
Section: net
Priority: optional
Maintainer: Debian Samba Maintainers <pkg-samba-maint@lists.alioth.debian.org>
Uploaders: Jelmer Vernooij <jelmer@debian.org>
Build-Depends: autoconf,
               automake,
               bison,
               debhelper (>= 8.0.0),
               doxygen,
               flex,
               libboost-thread-dev,
               libical-dev,
               libldb-dev,
               libmagic-dev,
               libparse-pidl-perl,
               libpopt-dev,
               libsqlite3-dev,
               libsubunit-dev,
               libtalloc-dev,
               libtevent-dev (>= 0.9.9~),
               pkg-config,
               python-dev (>= 2.6.6-3),
               samba4 (>= 4.1.0rc1),
               zlib1g-dev,
	       python-paste,
	       python-pastedeploy,
	       python-pastescript,
               python-mako
Standards-Version: 3.9.1
Vcs-Bzr: http://bzr.debian.org/pkg-samba/openchange/unstable
Vcs-Browser: http://bzr.debian.org/lh/pkg-samba/openchange/unstable
Homepage: http://www.openchange.org/
X-Python-Version: 2.7

Package: libmapi0
Section: libs
Pre-Depends: ${misc:Pre-Depends}
Multi-Arch: same
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends}
Description: Client library for the MAPI protocol
 This library provides a client-side implementation of the MAPI protocol
 that is used by Microsoft Exchange and Outlook.
 .
 Currently implemented features include sending and receiving mail and
 enumerating the address book.

Package: libmapi-dev
Section: libdevel
Architecture: any
Depends: libc6-dev,
         libldb-dev,
         libmapi0 (= ${binary:Version}),
         libndr-dev,
         libtalloc-dev,
         libtevent-dev,
         samba4 (>= 4.1.0rc1),
         ${misc:Depends}
Description: Development files for the MAPI client library
 This library provides a client-side implementation of the MAPI protocol
 that is used by Microsoft Exchange and Outlook.
 .
 Currently implemented features include sending and receiving mail and
 enumerating the address book.
 .
 This package contains the development files.

Package: libmapipp-dev
Section: libdevel
Architecture: any
Depends: libc6-dev,
         libmapipp0 (= ${binary:Version}),
         ${misc:Depends}
Description: Development files for the C++ MAPI client library
 This library provides a thin C++ wrapper around libmapi.
 .
 This package contains the header files.

Package: libmapipp0
Section: libs
Pre-Depends: ${misc:Pre-Depends}
Multi-Arch: same
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends}
Description: Library files for the C++ MAPI client library
 This library provides a thin C++ wrapper around libmapi.
 .
 This package contains the shared library.

Package: libocpf0
Section: libs
Architecture: any
Pre-Depends: ${misc:Pre-Depends}
Multi-Arch: same
Depends: ${misc:Depends},
         ${shlibs:Depends}
Description: Scripting library for the MAPI protocol
 Library that reads and runs files in the OCPF scripting language,
 a domain-specific language for the MAPI protocol.
 .
 Currently implemented features include sending and receiving mail and
 enumerating the address book.

Package: libocpf-dev
Section: libdevel
Architecture: any
Depends: libc6-dev,
         libocpf0 (= ${binary:Version}),
         ${misc:Depends}
Description: Development files for the OCPF library
 Library that reads and runs files in the OCPF scripting language,
 a domain-specific language for the MAPI protocol.
 .
 Currently implemented features include sending and receiving mail and
 enumerating the address book.
 .
 This package contains the development files.

Package: openchangeclient
Architecture: any
Suggests: nagios3,
          ${perl:Depends}
Depends: ${misc:Depends},
         ${shlibs:Depends}
Description: Command-line client for the MAPI (Exchange/Outlook) protocol
 Simple command-line client that allows fetching mail from and sending
 mail using a MAPI server.

Package: openchangeserver
Architecture: any
Pre-Depends: ${misc:Pre-Depends}
Depends: samba4 (>= 4.1.0rc1),
         openchangeproxy (= ${binary:Version}),
         ${misc:Depends},
         ${python:Depends},
         ${shlibs:Depends}
Description: Experimental MAPI (Exchange/Outlook) server
 This is a plugin for Samba 4 that adds server-side support for the MAPI
 protocol that is used by Microsoft Outlook and Exchange.
 .
 This package is alpha software.

Package: openchangeserver-dev
Architecture: any
Depends: openchangeserver (= ${binary:Version}),
         samba4 (>= 4.1.0rc1),
         ${misc:Depends}
Description: Experimental MAPI (Exchange/Outlook) server - development files
 This is a plugin for Samba 4 that adds server-side support for the MAPI
 protocol that is used by Microsoft Outlook and Exchange.
 .
 This package contains the development files.

Package: openchangeproxy
Architecture: any
Depends: samba4 (>= 4.1.0rc1),
         ${misc:Depends},
         ${shlibs:Depends}
Description: Experimental MAPI (Exchange/Outlook) proxy
 This is a plugin for Samba 4 that provides a proxy for the MAPI protocol.
 .
 This package is alpha software.

Package: libmapiadmin0
Architecture: any
Section: libs
Pre-Depends: ${misc:Pre-Depends}
Multi-Arch: same
Depends: ${misc:Depends},
         ${shlibs:Depends}
Description: Administration client library for the MAPI (Exchange/Outlook) protocol
 Library that allows remote administration of MAPI (Exchange/Outlook) servers.

Package: libmapiadmin-dev
Section: libdevel
Architecture: any
Depends: libc6-dev,
         libmapiadmin0 (= ${binary:Version}),
         ${misc:Depends}
Description: Development files for the MAPI administration client library
 Library that allows remote administration of MAPI (Exchange/Outlook) servers.
 .
 This package contains the development files.

Package: libmapiproxy0
Architecture: any
Section: libs
Pre-Depends: ${misc:Pre-Depends}
Multi-Arch: same
Depends: ${misc:Depends},
         ${shlibs:Depends}
Description: Proxy library for the MAPI (Exchange/Outlook) protocol
 This is a library that allows proxying of the MAPI (Exchange/Outlook)
 protocol.

Package: libmapiproxy-dev
Section: libdevel
Architecture: any
Depends: libc6-dev,
         libmapiproxy0 (= ${binary:Version}),
         ${misc:Depends}
Description: Development files for the MAPI proxy library
 Library that allows proxying of the MAPI (Exchange/Outlook) protocol.
 .
 This package contains the development files.

Package: libmapistore0
Section: libs
Pre-Depends: ${misc:Pre-Depends}
Multi-Arch: same
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends}
Description: Storage library for MAPI objects
 Library that can store arbitrary MAPI objects.

Package: libmapistore-dev
Section: libdevel
Depends: libmapistore0 (= ${binary:Version}),
         ${misc:Depends}
Architecture: any
Description: Storage library for MAPI objects - development files
 Library that can store arbitrary MAPI objects.
 .
 This package contains the development files.

Package: python-mapistore
Section: python
Architecture: any
Depends: libmapistore0 (= ${binary:Version}),
	 ${python:Depends},
	 ${misc:Depends},
         ${shlibs:Depends}
Description: Python bindings for the mapistore library
 Those are the bindings for Python projects that want to make use of
 the python library.

Package: python-ocsmanager
Section: python
Architecture: all
Depends: python-paste (>= 1.7.2),
         python-pastedeploy (>= 1.3.3),
         python-pastescript (>= 1.7.3),
         python-pylons (>= 0.10),
         python-mako (>= 0.2.4),
	 python-rpclib (>= 2.7.0),
	 python-mapistore (= ${binary:Version}),
         samba4 (>= 4.1.0rc1),
         ${misc:Depends},
         ${python:Depends},
         ${shlibs:Depends}
Description: Python library providing various web services for OpenChange
 This package contains various web-based services for OpenChange:
  * autodiscovery
  * Exchange Web Services
  * RPC-over-HTTP
 .
 This package is alpha software.

Package: openchange-ocsmanager
Section: web
Architecture: all
Depends: python-ocsmanager (= ${binary:Version}),
         ${misc:Depends},
         ${python:Depends},
         ${shlibs:Depends}
Description: Working instance of python-ocsmanager
 Ready-to-run service for python-ocsmanager with configuration files for
 Apache 2.
 .
 This package is alpha software.

Package: openchange-rpcproxy
Architecture: all
Depends: libapache2-mod-wsgi,
         python,
         ${misc:Depends},
         ${python:Depends},
         ${shlibs:Depends}
Description: A RPC-over-HTTP implementation for Samba, using wsgi
 This package contains a a RPC-over-HTTP python implementation
 for Samba, using wsgi.

Package: openchangeserver-dbg
Architecture: any
Section: debug
Priority: extra
Depends: openchangeserver (= ${binary:Version}), ${misc:Depends}
Description: Experimental MAPI (Exchange/Outlook) server
 This is a plugin for Samba 4 that adds server-side support for the MAPI
 protocol that is used by Microsoft Outlook and Exchange.
 .
 This package contains the debugging symbols
