#!/usr/bin/make -f
# By Jelmer Vernooij <jelmer@samba.org>
#
LDFLAGS = -Wl,--as-needed
DSOOPT = -shared -Wl,--as-needed -fPIC
DEB_HOST_MULTIARCH ?= $(shell dpkg-architecture -qDEB_HOST_MULTIARCH)

DESTDIR = $(CURDIR)/debian/tmp

PYVERS = $(shell pyversions -rv)
export PYTHON="$(shell which `pyversions -r`)"

%:
	dh $@ --with python2

override_dh_auto_configure:
	test -f configure || ./autogen.sh
	chmod a+x ./configure
	LDFLAGS=-Wl,--as-needed BOOST_LIB_SUFFIX=-mt ./configure \
		--prefix=/opt/samba4 \
		--mandir=/usr/share/man \
		--with-modulesdir=/opt/samba4/lib/openchange \
		--disable-pymapi \
		--libdir=/opt/samba4/lib
	sed -i -e 's/site-packages/dist-packages/' config.mk

override_dh_auto_test:
	# Test suite fails at the moment, because of changes in Samba.

override_dh_auto_build:
	$(MAKE) datadir=/opt/samba4/share/openchange LDFLAGS="$(LDFLAGS)" DSOOPT="$(DSOOPT)" all

override_dh_auto_clean:
	[ ! -f config.mk ] || $(MAKE) distclean
	rm -f config.log
	rm -rf mapiproxy/services/ocsmanager/ocsmanager.egg-info
	rm -rf mapiproxy/services/ocsmanager/build
	rm -rf mapiproxy/services/ocsmanager/dist
	rm -f python/openchange/mapi.so
	rm -f configure config.h.in pyopenchange/mapistore/errors.c

override_dh_auto_install:
	install -d $(DESTDIR)/usr/lib/nagios/plugins
	install -m 700 -d -o www-data -g www-data $(DESTDIR)/opt/samba4/var/cache/ntlmauthhandler
	$(MAKE) datadir=/opt/samba4/share/openchange install installman DESTDIR=$(DESTDIR) MANUALLY_CREATE_SYMLINKS=yes
	mv $(DESTDIR)/opt/samba4/lib/nagios/check_exchange $(DESTDIR)/usr/lib/nagios/plugins/check_exchange 
	rm -rf $(DESTDIR)/opt/samba4/modules
	# Don't install the testsuite for now
	rm -f $(DESTDIR)/opt/samba4/torture/openchange.so
	rm -rf $(DESTDIR)/opt/samba4/share/openchange/mapitest
	rm -f $(DESTDIR)/opt/samba4/bin/check_fasttransfer
	rm -f $(DESTDIR)/opt/samba4/bin/test_asyncnotif
	rm -f $(DESTDIR)/opt/samba4/lib/python*/dist-packages/openchange/mapi.so
	rm -rf $(DESTDIR)/opt/samba4/lib/python*/dist-packages/openchange/tests
	install -m 0644 -D debian/openchangeserver.lintian debian/openchangeserver/usr/share/lintian/overrides/openchangeserver
	# ocsmanager app
	(cd mapiproxy/services/ocsmanager; python$* setup.py install --prefix=/usr --root $(DESTDIR) \
		--single-version-externally-managed --install-layout=deb $(py_setup_install_args))
	find $(PKGDIR) -name '*.pth' -delete
	install -d $(DESTDIR)/etc/ocsmanager
	install -m 0644 mapiproxy/services/ocsmanager/ocsmanager.ini $(DESTDIR)/etc/ocsmanager/
	install -d $(DESTDIR)/etc/apache2/conf.d
	install -m 0644 mapiproxy/services/ocsmanager/ocsmanager-apache.conf $(DESTDIR)/etc/apache2/conf.d/ocsmanager.conf
	# rpcproxy
	install -m 0644 mapiproxy/services/web/rpcproxy/rpcproxy.conf $(DESTDIR)/etc/apache2/conf.d/rpcproxy.conf
	install -d $(DESTDIR)/opt/samba4/lib/openchange/web/rpcproxy
	install -m 0644 mapiproxy/services/web/rpcproxy/rpcproxy.wsgi $(DESTDIR)/opt/samba4/lib/openchange/web/rpcproxy/rpcproxy.wsgi
	(cd mapiproxy/services/web/rpcproxy; python$* setup.py install --install-lib=/opt/samba4/lib/openchange/web/rpcproxy --root $(DESTDIR) \
		--install-scripts=/opt/samba4/lib/openchange/web/rpcproxy --install-layout=deb $(py_setup_install_args))
	rm -f $(DESTDIR)/opt/samba4/lib/openchange/web/rpcproxy/rpcproxy/*pyc
	install -d $(DESTDIR)/usr/lib/python2.7/dist-packages/
	echo "/opt/samba4/lib/python2.7/dist-packages" > $(DESTDIR)/usr/lib/python2.7/dist-packages/mapistore.pth
	echo "/opt/samba4/lib/python2.7/dist-packages" > $(DESTDIR)/usr/lib/python2.7/dist-packages/openchange.pth

override_dh_install:
	dh_install --sourcedir=debian/tmp --list-missing --fail-missing

override_dh_fixperms:
	dh_fixperms --exclude opt/samba4/var/cache/ntlmauthhandler

override_dh_strip:
	dh_strip --dbg-package=openchangeserver-dbg
