Source: zentyal-openchange
Section: web
Priority: optional
Maintainer: José Antonio Calvo <jacalvo@zentyal.org>
Build-Depends: zbuildtools
Standards-Version: 3.9.2

Package: zentyal-openchange
Architecture: all
Pre-Depends: zentyal-core
Depends: zentyal-core (>= 4.2.1), zentyal-core (<< 4.3),
         zentyal-samba, zentyal-mail,
         zentyal-ca, zentyal-dns,
         openchangeserver (>= 3:2.4-zentyal9),
         openchange-rpcproxy, libstring-random-perl,
         openchange-ocsmanager (>> 3:2.3-zentyal1),
         apache2, zip, sogo-openchange (> 2.3.2-zentyal2a),
         memcached, ${misc:Depends}
Breaks: dovecot-openchange-plugin (= 0.1)
Description: Zentyal - OpenChange Server
 Zentyal is a Linux small business server that can act as
 a Gateway, Unified Threat Manager, Office Server, Infrastructure
 Manager, Unified Communications Server or a combination of them. One
 single, easy-to-use platform to manage all your network services.
 .
 This module provides a complete solution to interoperate with Microsoft
 Outlook clients or Microsoft Exchange servers.
