Source: zentyal-openchange
Section: web
Priority: optional
Maintainer: José Antonio Calvo <jacalvo@zentyal.org>
Build-Depends: zbuildtools
Standards-Version: 3.9.2

Package: zentyal-openchange
Architecture: all
Pre-Depends: zentyal-core
Depends: zentyal-core (>= 4.0), zentyal-core (<< 4.1),
         zentyal-samba (>= 4.0.4), zentyal-mail (>> 4.0.2),
         zentyal-ca (>= 4.0.1), zentyal-dns (>= 4.0.1),
         openchangeserver (>= 3:2.3-zentyal7),
         openchange-rpcproxy, libstring-random-perl,
         openchange-ocsmanager (>> 3:2.3-zentyal1),
         openchange-notification, dovecot-openchange-plugin,
         apache2, zoctools, zip, rabbitmq-server,
         sogo-openchange (>= 2.2.5-zentyal1~20140618-1~108),
         ${misc:Depends}
Replaces: zentyal-sogo
Description: Zentyal - OpenChange Server
 Zentyal is a Linux small business server that can act as
 a Gateway, Unified Threat Manager, Office Server, Infrastructure
 Manager, Unified Communications Server or a combination of them. One
 single, easy-to-use platform to manage all your network services.
 .
 This module provides a complete solution to interoperate with Microsoft
 Outlook clients or Microsoft Exchange servers.

Package: zentyal-sogo
Depends: zentyal-openchange, ${misc:Depends}
Architecture: all
Description: transitional dummy package
  This is a transitional dummy package. It can safely be removed.
