Source: zentyal-radius
Section: web
Priority: optional
Maintainer: José Antonio Calvo <jacalvo@zentyal.org>
Build-Depends: zbuildtools
Standards-Version: 3.9.2

Package: zentyal-radius
Architecture: all
Replaces: ebox-radius (<< 2.0.100)
Depends: zentyal-core (>= 3.0), zentyal-core (<< 3.0.100), zentyal-users, freeradius (>= 2.1.8+dfsg-1ubuntu1), freeradius-ldap (>= 2.1.8+dfsg-1ubuntu1), make, ${misc:Depends}
Description: Zentyal - RADIUS
 Zentyal is a Linux small business server that can act as
 a Gateway, Unified Threat Manager, Office Server, Infrastructure
 Manager, Unified Communications Server or a combination of them. One
 single, easy-to-use platform to manage all your network services.
 .
 This module offers RADIUS integration in Zentyal.
