Source: ebox-metapackages
Section: web
Priority: optional
Maintainer: Ubuntu MOTU Developers <ubuntu-motu@lists.ubuntu.com>
XSBC-Original-Maintainer: Javier Uruen Val <javi@warp.es>
Build-Depends: debhelper (>= 4.0.0), cdbs
Standards-Version: 3.7.3

Package: ebox-all
Architecture: all
Depends: ebox-gateway, ebox-security, ebox-infrastructure, ebox-office, ebox-communication
Description: eBox - All Modules
 eBox is a framework for the development and deployment of security-wise
 network services in small and medium-sized networks, offering a simplified
 graphical interface to non expert users. It can be set up as a gateway,
 having some extra features over a usual router.
 .
 This metapackage installs all eBox modules.

Package: ebox-gateway
Architecture: all
Depends: ebox-network, ebox-squid, ebox-firewall, ebox-trafficshaping, ebox-l7-protocols, ebox-ebackup, ebox-software, ebox-monitor, ebox-radius
Description: eBox - Gateway Suite
 eBox is a framework for the development and deployment of security-wise
 network services in small and medium-sized networks, offering a simplified
 graphical interface to non expert users. It can be set up as a gateway,
 having some extra features over a usual router.
 .
 This metapackage installs typical modules for eBox acting as gateway.

Package: ebox-security
Architecture: all
Depends: ebox-firewall, ebox-ids, ebox-squid, ebox-openvpn, ebox-mailfilter, ebox-antivirus, ebox-ebackup, ebox-software, ebox-monitor
Description: eBox - UTM Suite
 eBox is a framework for the development and deployment of security-wise
 network services in small and medium-sized networks, offering a simplified
 graphical interface to non expert users. It can be set up as a gateway,
 having some extra features over a usual router.
 .
 This metapackage installs typical modules for Unified Threat Management.

Package: ebox-infrastructure
Architecture: all
Depends:ebox-network, ebox-dhcp, ebox-dns, ebox-openvpn, ebox-webserver, ebox-ntp, ebox-ebackup, ebox-software, ebox-monitor
Description: eBox - Network Infrastructure Suite
 eBox is a framework for the development and deployment of security-wise
 network services in small and medium-sized networks, offering a simplified
 graphical interface to non expert users. It can be set up as a gateway,
 having some extra features over a usual router.
 .
 This metapackage installs typical modules for managing network infrastructure.

Package: ebox-office
Architecture: all
Depends:ebox-samba, ebox-printers, ebox-egroupware, ebox-antivirus, ebox-ebackup, ebox-software, ebox-monitor, ebox-webmail
Description: eBox - Office Suite
 eBox is a framework for the development and deployment of security-wise
 network services in small and medium-sized networks, offering a simplified
 graphical interface to non expert users. It can be set up as a gateway,
 having some extra features over a usual router.
 .
 This metapackage installs typical modules for sharing office resources.

Package: ebox-communication
Architecture: all
Depends: ebox-mail, ebox-jabber, ebox-asterisk, ebox-mailfilter, ebox-antivirus, ebox-ebackup, ebox-software, ebox-monitor, ebox-webmail
Description: eBox - Communications Suite
 eBox is a framework for the development and deployment of security-wise
 network services in small and medium-sized networks, offering a simplified
 graphical interface to non expert users. It can be set up as a gateway,
 having some extra features over a usual router.
 .
 This metapackage installs typical modules for a communication server.
