Source: ebox-monitor
Section: web
Priority: optional
Maintainer: José Antonio Calvo <jacalvo@zentyal.org>
Build-Depends: debhelper (>= 5.0.0), cdbs
Standards-Version: 3.8.2

Package: ebox-monitor
Architecture: all
Depends: ebox (>= 2.0.17), ebox (<< 2.0.100), collectd, libsys-cpu-perl, rrdtool, ${misc:Depends}
Description: Zentyal - Monitor
 Zentyal is a Linux small business server that can act as
 a Gateway, Unified Threat Manager, Office Server, Infrastructure
 Manager, Unified Communications Server or a combination of them. One
 single, easy-to-use platform to manage all your network services.
 .
 This module adds monitoring service to Zentyal using collectd to gather
 statistics about your Zentyal installation to show them in beautiful graphs
 as well as notifying events when a certain threshold has been reached
