Source: zmoddev
Section: utils
Priority: optional
Maintainer: José Antonio Calvo <jacalvo@zentyal.org>
Build-Depends: cdbs, debhelper (>= 4.0.0)
Standards-Version: 3.7.3

Package: zmoddev
Architecture: all
Depends: make, dpkg-dev, autotools-dev, autoconf, cdbs, automake1.9 | automake, fakeroot, build-essential, libhtml-mason-perl
Recommends: ebox
Description: Zentyal module development scripts
 This package ships scripts to ease the development of modules for the
 Zentyal Server.
