Source: ebox-objects
Section: web
Priority: optional
Maintainer: Javier Uruen  <javi@warp.es>
Replaces: ebox (<= 0.5.2)
Build-Depends: debhelper (>= 4.0.0)
Standards-Version: 3.6.1

Package: ebox-objects
Architecture: all
Depends: ebox (>= 0.8.99), ebox (<< 0.9.99), libnet-ip-perl
Replaces: ebox (<< 0.6)
Conflicts: ebox (<< 0.6)
Description: Object management
 eBox is a framework for the development and deployment of security-wise
 network services in small and medium-sized networks, offering a simplified
 graphical interface to non expert users. It can be set up as a gateway,
 having some extra features over a usual router.
 .
 This module adds object support, allowing to manage objects which could be
 used as access control lists (ACL) by other modules. Each object represents 
 a certain number of hosts or network, providing an abstraction 
 to make easy its use across the eBox modules.
