Source: ebox-objects
Section: web
Priority: optional
Maintainer: Ubuntu MOTU Developers <ubuntu-motu@lists.ubuntu.com>
XSBC-Original-Maintainer: Javier Uruen  <javi@warp.es>
Build-Depends: debhelper (>= 5.0.0), cdbs
Standards-Version: 3.7.3

Package: ebox-objects
Architecture: all
Depends: ebox (>= 0.11.99), ebox (<< 0.12), libnet-ip-perl, ${misc:Depends}
Conflicts: ebox (<< 0.9.99)
Replaces: ebox (<< 0.9.99)
Description: eBox - Object management
 eBox is a framework for the development and deployment of security-wise
 network services in small and medium-sized networks, offering a simplified
 graphical interface to non expert users. It can be set up as a gateway,
 having some extra features over a usual router.
 .
 This module adds object support, allowing to manage objects which could be
 used as access control lists (ACL) by other modules. Each object represents 
 a certain number of hosts or network, providing an abstraction 
 to make easy its use across the eBox modules.
