Source: ebox-egroupware
Section: web
Priority: optional
Maintainer: José Antonio Calvo <jacalvo@zentyal.org>
Build-Depends: debhelper (>= 5.0.0), cdbs
Standards-Version: 3.8.2

Package: ebox-egroupware
Architecture: all
Depends: ebox (>= 2.0), ebox (<< 2.0.100), ebox-network (>= 0.12), ebox-usersandgroups (>= 0.12), ebox-mail (>= 0.12), ${misc:Depends}, egroupware (>= 1.6.003), egroupware (< 1.7), php5-mhash, ebox-webserver (>= 0.12), php5-pgsql
Description: Zentyal - Groupware (eGroupware)
 Zentyal is a Linux small business server that can act as
 a Gateway, Unified Threat Manager, Office Server, Infrastructure
 Manager, Unified Communications Server or a combination of them. One
 single, easy-to-use platform to manage all your network services.
 .
 This module offers eGroupware integration in Zentyal
