Source: ebox-monitor
Section: web
Priority: optional
Maintainer: Nobody  <foo@bar.com>
Build-Depends: debhelper (>= 4.0.0), cdbs
Standards-Version: 3.7.3

Package: ebox-monitor
Architecture: all
Depends: ebox (>= 1.1), ebox (<< 1.2), collectd, libsys-cpu-perl, ${misc:Depends}
Description: eBox - Monitoring module  
 eBox is a framework for the development and deployment of security-wise
 network services in small and medium-sized networks, offering a simplified
 graphical interface to non expert users. It can be set up as a gateway,
 having some extra features over a usual router.
 .
 This module adds monitoring service to eBox using collectd to gather
 statistics about your eBox installation to show them in beautiful graphs 
 as well as notifying events when a certain threshold has been reached
