Source: zinstaller-remote
Section: debian-installer
Priority: optional
Maintainer: Zentyal Packaging Maintainers <pkg-team@zentyal.com>
Build-Depends: debhelper (>= 7.0.0), cdbs, po-debconf
Standards-Version: 3.9.1
Homepage: http://www.zentyal.org/

Package: zinstaller-remote
Architecture: all
Description: Choose Zentyal edition to install
