Source: zentyal-virt
Section: web
Priority: optional
Maintainer: José Antonio Calvo <jacalvo@zentyal.org>
Build-Depends: zbuildtools
Standards-Version: 3.9.2

Package: zentyal-virt
Architecture: all
Depends: zentyal-core (>= 3.0), zentyal-core (<< 3.0.100), zentyal-firewall, novnc, python-numpy, libvirt-bin | virtualbox-ose (>= 4.0.4), qemu-kvm | virtualbox-ose-dkms, ${misc:Depends}
Description: Zentyal - Virtualization Manager
 Zentyal is a Linux small business server that can act as
 a Gateway, Unified Threat Manager, Office Server, Infrastructure
 Manager, Unified Communications Server or a combination of them. One
 single, easy-to-use platform to manage all your network services.
 .
 This module adds virtualization capabilities to Zentyal.
