Source: zbwmonitor
Section: net
Priority: optional
Maintainer: Zentyal Packaging Maintainers <pkg-team@zentyal.com>
Build-Depends: cdbs, debhelper (>= 4.0.0), libconfig-dev, libpcap0.8-dev
Standards-Version: 3.7.3

Package: zbwmonitor
Architecture: any
Depends: ${shlibs:Depends}, libconfig9, libpcap0.8, ${misc:Depends}
Description: Zentyal bandwith monitor tool
 This tool is used by Zentyal to keep track of bandwith usage.
