Source: ebox-webmail
Section: web
Priority: optional
Maintainer: José Antonio Calvo <jacalvo@zentyal.org>
Build-Depends: debhelper (>= 5.0.0), cdbs
Standards-Version: 3.8.2

Package: ebox-webmail
Architecture: all
Depends: ebox (>= 2.0), ebox (<< 2.0.100), roundcube, roundcube-pgsql, ebox-usersandgroups, ebox-webserver (>= 2.0.4), ebox-mail (>= 2.0.5)
Description: Zentyal - Web Mail Service
 Zentyal is a Linux small business server that can act as
 a Gateway, Unified Threat Manager, Office Server, Infrastructure
 Manager, Unified Communications Server or a combination of them. One
 single, easy-to-use platform to manage all your network services.
 .
 This module adds a webmail service to your Zentyal installation.
