Source: zentyal-l7-protocols
Section: web
Priority: optional
Maintainer: José Antonio Calvo <jacalvo@zentyal.org>
Build-Depends: zbuildtools
Standards-Version: 3.9.2

Package: zentyal-l7-protocols
Architecture: all
Depends: zentyal-core (>= 3.3), zentyal-core (<< 3.4), zentyal-trafficshaping, l7-protocols, l7-filter-userspace, ${misc:Depends}
Description: Zentyal - Layer-7 Filter
 Zentyal is a Linux small business server that can act as
 a Gateway, Unified Threat Manager, Office Server, Infrastructure
 Manager, Unified Communications Server or a combination of them. One
 single, easy-to-use platform to manage all your network services.
 .
 This module adds support for layer 7 traffic discrimination, which can be
 used by traffic shaping rules.
