Source: zentyal-usercorner
Section: web
Priority: optional
Maintainer: José Antonio Calvo <jacalvo@zentyal.org>
Build-Depends: zbuildtools
Standards-Version: 3.9.2

Package: zentyal-usercorner
Architecture: all
Depends: zentyal-core (>= 3.3), zentyal-core (<< 3.4), zentyal-users,
 libcrypt-rijndael-perl, ${misc:Depends}
Description: Zentyal - User Corner
 Zentyal is a Linux small business server that can act as
 a Gateway, Unified Threat Manager, Office Server, Infrastructure
 Manager, Unified Communications Server or a combination of them. One
 single, easy-to-use platform to manage all your network services.
 .
 This module adds a Web Interface for Zentyal users, allowing them
 to perform actions like changing their own passwords.
