Source: zentyal-ipsec
Section: web
Priority: optional
Maintainer: José Antonio Calvo <jacalvo@zentyal.org>
Build-Depends: zbuildtools
Standards-Version: 3.9.2

Package: zentyal-ipsec
Architecture: all
Pre-Depends: mysql-server
Depends: zentyal-core (>= 3.3), zentyal-core (<< 3.4), zentyal-firewall, openswan, xl2tpd, lsof, ${misc:Depends}
Description: Zentyal - IPsec and L2TP/IPsec
 Zentyal is a Linux small business server that can act as
 a Gateway, Unified Threat Manager, Office Server, Infrastructure
 Manager, Unified Communications Server or a combination of them. One
 single, easy-to-use platform to manage all your network services.
 .
 This module adds a IPsec (OpenSwan) and L2TP/IPsec server to Zentyal.
