Package: libtest-output-perl
Version: 0.10-1
Section: perl
Priority: optional
Architecture: all
Depends: perl (>= 5.6.0-16)
Installed-Size: 100
Maintainer: Javier Amor Garcia <javier.amor.garcia@warp.es>
Description: Utilities to test STDOUT and STDERR messages.
 Test::Output provides a simple interface for testing output sent to STDOUT
 or STDERR. A number of different utilies are included to try and be as
 flexible as possible to the tester.
 .
 Originally this module was designed not to have external requirements,
 however, the features provided by Sub::Exporter over what Exporter
 provides is just to great to pass up.
 .
 Test::Output ties STDOUT and STDERR using Test::Output::Tie.
 .
 This description was automagically extracted from the module by dh-make-perl.
