Source: libtest-mocktime-perl
Section: perl
Priority: optional
Build-Depends: debhelper (>= 4.0.2)
Build-Depends-Indep: perl (>= 5.8.0-7)
Maintainer: Javier Amor Garcia <javier.amor.garcia@warp.es>
Standards-Version: 3.6.1

Package: libtest-mocktime-perl
Architecture: all
Depends: ${perl:Depends}, ${misc:Depends}, libtime-piece-perl,
Description:  Replaces actual time with simulated time
 .
 .
 This description was automagically extracted from the module by dh-make-perl.
