Source: libtest-mocktime-perl
Section: perl
Priority: optional
Build-Depends: debhelper (>= 5.0.0)
Build-Depends-Indep: perl (>= )
Maintainer: Javier Amor Garcia <javier.amor.garcia@warp.es>
Standards-Version: 3.7.2

Package: libtest-mocktime-perl
Architecture: all
Depends: ${perl:Depends}, ${misc:Depends}, libtime-piece-perl 
Description:  Replaces actual time with simulated time
 .
 .
 This description was automagically extracted from the module by dh-make-perl.
