Source: ebox-radius
Section: web
Priority: optional
Maintainer: José Antonio Calvo  <jacalvo@ebox-platform.com>
Build-Depends: debhelper (>= 5.0.0), cdbs
Standards-Version: 3.8.2

Package: ebox-radius
Architecture: all
Depends: ebox (>= 1.5), ebox (<< 1.5.100), ebox-usersandgroups, freeradius (>= 2.1.0+dfsg-0ubuntu7~hardy1), freeradius-ldap (>= 2.1.0+dfsg-0ubuntu7~hardy1), make, ${misc:Depends}
Description: eBox - RADIUS
 eBox Platform is an open source small business server that can act as
 a Gateway, a Unified Threat Manager, an Office Server, an Infrastructure
 Manager, a Unified Communications Server or a combination of them. One
 single, easy-to-use platform to manage all your network services.
 .
 This module offers RADIUS integration in eBox.
