Source: ebox-antivirus
Section: web
Priority: optional
Maintainer: José Antonio Calvo <jacalvo@zentyal.org>
Build-Depends: debhelper (>= 5.0.0), cdbs
Standards-Version: 3.8.2

Package: ebox-antivirus
Architecture: all
Depends: ebox (>= 2.0), ebox (<< 2.0.100), ebox-network (>= 2.0.2), ebox-firewall, clamav (>= 0.90), clamav-daemon (>= 0.90), clamav-freshclam (>= 0.90), ${misc:Depends}
Description: Zentyal - Antivirus
 Zentyal is a Linux small business server that can act as
 a Gateway, Unified Threat Manager, Office Server, Infrastructure
 Manager, Unified Communications Server or a combination of them. One
 single, easy-to-use platform to manage all your network services.
 .
 This module adds an antivirus scanner server to your Zentyal installation, allowingits use by other eBox services that needs to scan for viruses.
