Source: zentyal-sogo
Section: web
Priority: optional
Maintainer: Zentyal Packaging Maintainers <pkg-team@zentyal.com>
Uploaders: Bruno Lorente <blorente@zentyal.com>
Build-Depends: zbuildtools
Standards-Version: 3.9.2
Homepage: http://www.zentyal.org/
Vcs-Browser: https://github.com/zentyal/zentyal/tree/master/main/sogo
Vcs-Git: https://github.com/zentyal/zentyal.git

Package: zentyal-sogo
Architecture: all
Depends: zentyal-core (>= 6.1), zentyal-core (<< 6.2),
         zentyal-mail, sogo (>= 4.1), sogo-activesync (>= 4.1),
         apache2, sope4.9-gdl1-mysql, zip, libstring-random-perl,
         memcached
Description: Zentyal - Web Mail
 Zentyal is a Linux small business server that can act as
 a Gateway, Unified Threat Manager, Office Server, Infrastructure
 Manager, Unified Communications Server or a combination of them. One
 single, easy-to-use platform to manage all your network services.
 .
 This module adds a webmail service to your Zentyal installation.
