Source: ebox-mailfilter
Section: web
Priority: optional
Maintainer: José Antonio Calvo <jacalvo@zentyal.org>
Build-Depends: debhelper (>= 5.0.0), cdbs
Standards-Version: 3.8.2

Package: ebox-mailfilter
Architecture: all
Depends: ebox (>= 2.0), ebox (<< 2.0.100), ebox-firewall, ebox-usersandgroups , ebox-mail (>= 0.11.99), ebox-antivirus, amavisd-new (>= 2.4.2), spamassassin, spamc, dovecot-antispam, libnet-dns-perl, arj, unrar-free, p7zip, p3scan, renattach,  ${misc:Depends}
Description: Zentyal - Mail Filter
 Zentyal is a Linux small business server that can act as
 a Gateway, Unified Threat Manager, Office Server, Infrastructure
 Manager, a Unified Communications Server or a combination of them. One
 single, easy-to-use platform to manage all your network services.
 .
 This module adds a mail filter server to your Zentyal installation, allowing to
 scan mails to filter viruses and spam.
