Source: ebox-mail
Section: web
Priority: optional
Maintainer: Ubuntu MOTU Developers <ubuntu-motu@lists.ubuntu.com>
XSBC-Original-Maintainer: Javier Uruen Val <javi@warp.es>
Build-Depends: debhelper (>= 5.0.0), cdbs
Standards-Version: 3.7.3

Package: ebox-mail
Architecture: all
Depends: ebox (>= 1.1), ebox (<< 1.2), ebox-firewall, ebox-usersandgroups, postfix, postfix-ldap, courier-pop, courier-imap, courier-pop-ssl, courier-imap-ssl, courier-authdaemon, courier-ldap, libsasl2-2, libsasl2-modules, sasl2-bin, postgrey, ${misc:Depends}
Description: eBox - Mail server
 eBox is a framework for the development and deployment of security-wise
 network services in small and medium-sized networks, offering a simplified
 graphical interface to non expert users. It can be set up as a gateway,
 having some extra features over a usual router.
 .
 This module adds a mail server to your eBox installation.
