Source: ebox-mail
Section: web
Priority: optional
Maintainer: Isaac Clerencia <isaac@warp.es>
Build-Depends: debhelper (>= 4.0.0)
Standards-Version: 3.6.1

Package: ebox-mail
Architecture: all
Depends: ebox-firewall, ebox-usersandgroups, postfix (= 2.1.5-9.vda), postfix-tls (= 2.1.5-9.vda), postfix-ldap (= 2.1.5-9.vda), courier-pop, courier-imap, courier-pop-ssl, courier-imap-ssl, courier-authdaemon, courier-ldap
Description: eBox mail server module
 eBox is a framework for the development and deployment of security-wise
 network services in small and medium-sized networks, offering a simplified
 graphical interface to non expert users. It can be set up as a gateway,
 having some extra features over a usual router.
 .
 This module adds a mail server to your eBox installation.
