Source: zentyal-ltsp
Section: web
Priority: optional
Maintainer: Rubén Durán <rduran@zentyal.com>
Build-Depends: zbuildtools
Standards-Version: 3.9.2

Package: zentyal-ltsp
Architecture: all
Depends: zentyal-core (>= 3.1), zentyal-network, zentyal-firewall, ltsp-server, ltspfs, ldm-server, ${misc:Depends}
Description: Zentyal - Thin Clients
 Zentyal is a Linux small business server that can act as
 a Gateway, Unified Threat Manager, Office Server, Infrastructure
 Manager, Unified Communications Server or a combination of them. One
 single, easy-to-use platform to manage all your network services.
 .
 This module adds LTSP integration with Zentyal.
