#!/bin/sh

set -e

. /usr/share/debconf/confmodule

# This will be replaced with debian/ebox.scripts-commmon which includes
# helper functions to set the password
#SCRIPTSCOMMON#

# Set the eBox administrator password
set_password() {
    local pass1 pass2
    
    db_get ebox/password1
    pass1="$RET"
    
    db_get ebox/password2
    pass2="$RET"

    if [ "$pass1" != "$pass2" ]; then
        return 1;
    fi

    return 0;
}

# Ask eBox administrator password
conf_password() {
    while true; do
        db_input high ebox/password1 || true
        db_input high ebox/password2 || true
        db_go || true

        if set_password; then
            break
        fi

        db_input high ebox/password_mismatch || true
    done
}

# Ask eBox apache port
conf_port() {

    while true; do

        db_input high ebox/port || true
        db_go || true
        
        db_get ebox/port
        new_port="$RET"
        
        # Check if the entry is valid port number
        nodigits="$(echo $new_port | sed 's/[[:digit:]]//g')"
        if [ -n "$nodigits" ]; then
            continue
        fi

        if [ $new_port -ge 65535 ] || [ $new_port -lt 1 ]; then
            continue;
        fi


        if ! check_port_available $new_port; then
           db_input high ebox/port_used || true
           db_go || true
           db_get ebox/port_used
            if [ "$RET" = "true" ]; then
                break;
            fi
        else 
            break;
        fi
    done
}

conf_password


if [ "$1" = reconfigure ]; then
    store_password
fi

if [ "$1" = reconfigure ] || [ -z $2 ]; then
    conf_port
fi

exit 0
