Source: libreadonly-xs-perl
Section: perl
Priority: optional
Build-Depends: debhelper (>= 5.0.0), perl (>= )
Maintainer: Javier Amor Garcia <javier.amor.garcia@warp.es>
Standards-Version: 3.7.2

Package: libreadonly-xs-perl
Architecture: any
Depends: ${perl:Depends}, ${shlibs:Depends}, ${misc:Depends}, libreadonly-perl
Description:  Companion module for Readonly.pm, to speed up read-only
 The Readonly module (q.v.) is an effective way to create
 non-modifiable variables.  However, it's relatively slow.
 .
 The reason it's slow is that is implements the read-only-ness of
 variables via tied objects.  This mechanism is inherently slow.  Perl
 simply has to do a lot of work under the hood to make tied variables
 work.
 .
 This module corrects the speed problem, at least with respect to
 scalar variables.  When Readonly::XS is installed, Readonly uses it to
 access the internals of scalar variables.  Instead of creating a
 scalar variable object and tying it, Readonly simply flips the
 SvREADONLY bit in the scalar's FLAGS structure.
 .
 This description was automagically extracted from the module by dh-make-perl.
