Source: ebox-software
Section: web
Priority: optional
Maintainer: Isaac Clerencia <isaac@warp.es>
Build-Depends: debhelper (>= 4.0.0)
Standards-Version: 3.6.1

Package: ebox-software
Architecture: all
Depends: ebox (>= 0.8.99), ebox (<< 0.9.99), esofttool (>= 0.2)
Description: Software management
 eBox is a framework for the development and deployment of security-wise
 network services in small and medium-sized networks, offering a simplified
 graphical interface to non expert users. It can be set up as a gateway,
 having some extra features over a usual router.
 .
 This module adds software management capabilities to eBox, allowing software
 updates and easy module installation and removal.
