Source: zinstaller-headless
Section: debian-installer
Priority: optional
Maintainer: Zentyal Packaging Maintainers <pkg-team@zentyal.com>
Build-Depends: debhelper (>= 7.0.0), cdbs, po-debconf
Standards-Version: 3.9.1
Homepage: http://www.zentyal.org/

Package: zinstaller-headless
XC-Package-Type: udeb
Architecture: all
Depends: ${misc:Depends}, user-setup
XB-Installer-Menu-Item: 6066
Description: Remote Administration Only question
