Source: zentyal-samba
Section: web
Priority: optional
Maintainer: Zentyal Packaging Maintainers <pkg-team@zentyal.com>
Uploaders: José A. Calvo <jacalvo@zentyal.com>
Build-Depends: zbuildtools, libtest-net-ldap-perl (>= 0.02)
Standards-Version: 3.9.2
Homepage: http://www.zentyal.org/
Vcs-Browser: http://git.zentyal.org/zentyal.git/tree/HEAD:/main/users
Vcs-Git: git://git.zentyal.org/zentyal.git

Package: zentyal-samba
Architecture: all
Depends: zentyal-core (>= 4.2), zentyal-core (<< 4.3),
         zentyal-firewall, zentyal-dns, zentyal-ntp,
         libsamba-perl (>= 0.12), libxs-object-magic-perl,
         libparse-recdescent-perl,
         samba (>= 3:4.3.1), winbind, samba-vfs-modules, sssd, ldb-tools,
         apache2-utils, libnet-ldap-perl, adduser, quota, acl,
         libgssapi3-heimdal, libsasl2-modules-gssapi-heimdal, heimdal-clients,
         libquota-perl, liburi-encode-perl, libnss-sss, libpam-sss, sssd-tools,
         libpam-pwquality, libsys-filesystem-perl, libgssapi-perl,
         auth-client-config, libauthen-sasl-perl, libnet-ntp-perl,
         libnet-dns-perl, libnet-ping-perl, rsync, libdate-calc-xs-perl,
         libclamav-client-perl, libnet-ntp-perl, libuuid-perl,
         libdata-hexdumper-perl, libsys-filesystem-perl, libfile-libmagic-perl,
         libauthen-krb5-easy-perl (>= 0.90-6), libdate-calc-xs-perl, ${misc:Depends}
Description: Zentyal - Domain Controller and File Sharing
 Zentyal is a Linux small business server that can act as
 a Gateway, Unified Threat Manager, Office Server, Infrastructure
 Manager, Unified Communications Server or a combination of them. One
 single, easy-to-use platform to manage all your network services.
 .
 This module adds a LDAP server to your Zentyal installation, allowing you
 to add users and groups to be used by other Zentyal modules.
