[Desktop Entry]
Version=1.0
Name=eBox Administration Interface
Name[es]=Interfaz de administración de eBox
Comment=Launch a browser with the eBox Control Panel
Comment[es]=Lanza un navegador con el panel de control de eBox
Exec=firefox https://localhost
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=ebox
Categories=Application;Internet;Network;WebBrowser;
MimeType=text/html;text/xml;application/xhtml+xml;application/xml;application/vnd.mozilla.xul+xml;application/rss+xml;application/rdf+xml;image/gif;image/jpeg;image/png;
StartupWMClass=Firefox
StartupNotify=true
