Source: zenbuntu-desktop
Section: metapackages
Priority: optional
Maintainer: Zentyal Packaging Maintainers <pkg-team@zentyal.com>
Build-Depends: debhelper (>= 7.0.0), cdbs
Standards-Version: 3.9.1
Homepage: http://www.zentyal.org/

Package: zenbuntu-desktop
Architecture: all
Depends: zenbuntu-core (>= 3.3~1), systemd-shim, xorg, firefox, lxdm, lxde, xdg-user-dirs, gksu, libnss3-tools, xscreensaver, evince, plymouth-theme-ubuntu-logo, gtk2-engines
Description: Zentyal Desktop Environment for Ubuntu Server
 This package ships scripts and branding stuff included in
 the Zentyal installer to setup the Zentyal system.
