<script type="text/javascript" src="/data/js/table-helper.js"></script>

<div id="top"></div>

<div id="header">
  <a href="/"><img src="{{ image_title }}" alt="title"/></a>
</div>

<div id="menu">
  <ul id="nav">
    <li id=""><div class="separator">{{ actions }}</div></li>
    <li id="menu_2"><a href="#" class="nvac" onclick="history.go(-1); return false">{{ go_back }}</a></li>
  </ul>
</div>

<div>
    <div id="content">
      <div><span class="title">{{ title }}</span></div>

      <div class="error">{{ brokenPackages }}</div>
      <div class="error">{{ error }}</div>

      <div id="back">
        <a href="#" onclick="history.go(-1); return false">{{ go_back }}</a>
      </div>
    </div>
</div>

