Source: esofttool
Section: utils
Priority: optional
Maintainer: Ubuntu MOTU Developers <ubuntu-motu@lists.ubuntu.com>
XSBC-Original-Maintainer: Javier Uruen Val <javi@warp.es>
Build-Depends: cdbs, debhelper (>= 4.0.0), libapt-pkg-dev
Standards-Version: 3.7.3

Package: esofttool
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: ebox software tool
 This tool is used by the ebox-software modules to gather info about
 ebox packages and upgradable packages. It is used as interface to
 the apt library and the eBox perl module.
