Source: zentyal-common
Section: web
Priority: optional
Maintainer: Zentyal Packaging Maintainers <pkg-team@zentyal.com>
Uploaders: José A. Calvo <jacalvo@zentyal.com>
Build-Depends: zbuildtools
Standards-Version: 3.9.2
Homepage: http://www.zentyal.org/
Vcs-Browser: http://git.zentyal.org/zentyal.git/tree/HEAD:/main/common
Vcs-Git: git://git.zentyal.org/zentyal.git

Package: zentyal-common
Architecture: all
Depends: sudo, iproute, liblog-dispatch-perl, liblog-log4perl-perl,
         libhtml-mason-perl, liblocale-gettext-perl, libtrycatch-lite-perl,
         libdevel-stacktrace-perl, libintl-perl, libnet-ip-perl, gettext,
         libfile-slurp-perl, libreadonly-perl, libreadonly-xs-perl,
         libperl6-junction-perl, libmail-rfc822-address-perl,
         libsoap-lite-perl, libdata-validate-domain-perl,
         libconfig-tiny-perl, libio-interface-perl, ${misc:Depends}
Conflicts: sudo-ldap
Description: Zentyal - Common Library
 Zentyal is a Linux small business server that can act as
 a Gateway, Unified Threat Manager, Office Server, Infrastructure
 Manager, a Unified Communications Server or a combination of them. One
 single, easy-to-use platform to manage all your network services.
