Source: ebox-ntp
Section: web
Priority: optional
Maintainer: Isaac Clerencia <isaac@warp.es>
Build-Depends: debhelper (>= 4.0.0)
Standards-Version: 3.6.1

Package: ebox-ntp
Architecture: all
Depends: ebox (>= 0.9.1), ebox (<< 0.9.99), ebox-firewall, ntp-server, ntpdate
Description: NTP server
 eBox is a framework for the development and deployment of security-wise
 network services in small and medium-sized networks, offering a simplified
 graphical interface to non expert users. It can be set up as a gateway,
 having some extra features over a usual router.
 .
 This module adds a NTP server to eBox, allowing time synchronization from
 external servers and to internal clients.
