Package: libtest-mockmodule-perl
Version: 0.05-1
Section: perl
Priority: optional
Architecture: all
Depends: perl (>= 5.6.0-16)
Installed-Size: 68
Maintainer: Javier Amor Garcia <javier.amor.garcia@warp.es>
Description: Override subroutines in a module for unit testing
 Test::MockModule lets you temporarily redefine subroutines in other packages
 for the purposes of unit testing.
 .
 A Test::MockModule object is set up to mock subroutines for a given
 module. The object remembers the original subroutine so it can be easily
 restored. This happens automatically when all MockModule objects for the given
 module go out of scope, or when you unmock() the subroutine.
 .
 This description was automagically extracted from the module by dh-make-perl.
