#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# GNU copyright 1997 to 1999 by Joey Hess.

include  debian/common-rules/ebox.mk

build: build-stamp

build-stamp: config.status
	dh_testdir
	$(MAKE)
	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp
	-$(MAKE) distclean
ifneq "$(wildcard /usr/share/misc/config.sub)" ""
	cp -f /usr/share/misc/config.sub config.sub
endif
ifneq "$(wildcard /usr/share/misc/config.guess)" ""
	cp -f /usr/share/misc/config.guess config.guess
endif
	rm -f config.log
	dh_clean 

install-indep: build config.status
	dh_testdir
	dh_testroot
	dh_clean -k 
	dh_installdirs

	GCONF_DISABLE_MAKEFILE_SCHEMA_INSTALL=yes DESTDIR=$(CURDIR)/debian/ebox-network/ \
	DESTDIR=$(CURDIR)/debian/ebox-network/ \
		$(MAKE) install schemadir=usr/share/gconf/schemas

binary-indep: install-indep
	dh_testdir
	dh_testroot
	dh_installchangelogs ChangeLog
	dh_installdocs
	dh_install
#	dh_installmenu
#	dh_installman
	dh_link
#	dh_strip
#	dh_gconf - done manually
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

# Build architecture-independent files here.

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch install
