Source: ebox-printers
Section: web
Priority: optional
Maintainer: Ubuntu MOTU Developers <ubuntu-motu@lists.ubuntu.com>
XSBC-Original-Maintainer: Javier Uruen Val <javi@warp.es>
Build-Depends: debhelper (>= 4.0.0), cdbs
Standards-Version: 3.7.3

Package: ebox-printers
Architecture: all
Depends: ebox (>= 0.11.99), ebox (<< 0.12), ebox-samba, cupsys, libexporter-cluster-perl, libnet-cups-perl, foomatic-db, foomatic-db-engine, foomatic-db-hpijs, foomatic-filters, adduser, ${misc:Depends}
Conflicts: ebox (<< 0.9.99)
Replaces: ebox (<< 0.9.99)
Description: eBox - Printer sharing
 eBox is a framework for the development and deployment of security-wise
 printers services in small and medium-sized printerss, offering a simplified
 graphical interface to non expert users. It can be set up as a gateway,
 having some extra features over a usual router.
 .
 This module adds a printing server, allowing to manage and share printers. 
