Source: ebox-trafficshaping
Section: web
Priority: optional
Maintainer: Ubuntu MOTU Developers <ubuntu-motu@lists.ubuntu.com>
XSBC-Original-Maintainer: Javier Uruen Val <javi@warp.es>
Build-Depends: debhelper (>= 4.0.0), cdbs
Standards-Version: 3.7.3

Package: ebox-trafficshaping
Architecture: all
Depends: ebox (>= 0.11.svn), ebox (<< 0.12.10), ebox-network, ebox-firewall, ebox-objects, libtree-perl, ${misc:Depends}
Conflicts: ebox (<< 0.11.99)
Description: eBox - Traffic shaper for eBox
 eBox is a framework for the development and deployment of security-wise
 network services in small and medium-sized networks, offering a simplified
 graphical interface to non expert users. It can be set up as a gateway,
 having some extra features over a usual router.
 .
 This module adds a Traffic Shaper for eBox. So far, shape per service and
 per interface giving guaranteed bandwidth, limited bandwidth and traffic
 priorized. Both egress and ingress traffic are handled.
