Source: zentyal-core
Section: web
Priority: optional
Maintainer: Zentyal Packaging Maintainers <pkg-team@zentyal.com>
Uploaders: José A. Calvo <jacalvo@zentyal.com>
Build-Depends: zbuildtools, po-debconf
Standards-Version: 3.9.2
Homepage: http://www.zentyal.org/
Vcs-Browser: http://git.zentyal.org/zentyal.git/tree/HEAD:/main/core
Vcs-Git: git://git.zentyal.org/zentyal.git

Package: zentyal-core
Architecture: all
Pre-Depends: mysql-server
Depends: zentyal-common (>= 4.2), zentyal-common (<< 4.3),
         adduser, apport, anacron, cracklib-runtime, cron, curl, dbus, debconf, gpgv,
         libapt-pkg-perl, libauthen-simple-pam-perl,
         libcgi-emulate-psgi-perl, libclass-singleton-perl, libclone-fast-perl,
         libdatetime-timezone-perl,
         libdbd-mysql-perl, libfile-copy-recursive-perl, libfile-mmagic-perl,
         libfilesys-df-perl, libhttp-date-perl, libjson-perl,
         libjson-rpc-perl, libjson-xs-perl, liblexical-persistence-perl,
         liblinux-inotify2-perl, libnmap-parser-perl,
         libplack-middleware-reverseproxy-perl,
         libplack-middleware-session-perl, libproc-processtable-perl,
         libredis-perl (>= 2:1.9670), libstring-shellquote-perl, libsys-cpuload-perl,
         libsys-cpu-perl, libterm-readline-gnu-perl, libtest-deep-perl,
         libtime-piece-perl, liburi-encode-perl,
         libyaml-libyaml-perl, mysql-server, nginx, nmap,
         openssl, redis-server (>= 2:2.8.4), update-notifier-common, uwsgi-plugin-psgi,
         apt-transport-https, libdate-calc-xs-perl, screen, at,
         ${misc:Depends}
Description: Zentyal - Core
 Zentyal is a Linux small business server that can act as
 a Gateway, Unified Threat Manager, Office Server, Infrastructure
 Manager, Unified Communications Server or a combination of them. One
 single, easy-to-use platform to manage all your network services.
