[Unit]
Description=Zentyal start/stop task
After=network.target redis-server.service

[Service]
Type=oneshot
ExecStart=/usr/bin/zs start
ExecStop=/usr/bin/zs stop
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
