Source: libebox
Section: web
Priority: optional
Maintainer: José Antonio Calvo  <jacalvo@ebox-platform.com>
Build-Depends: debhelper (>= 5.0.0), cdbs
Standards-Version: 3.8.2

Package: libebox
Architecture: all
Depends: sudo, iproute, liblog-dispatch-perl, liblog-log4perl-perl, libhtml-mason-perl, liblocale-gettext-perl, liberror-perl, libdevel-stacktrace-perl, libintl-perl, libnet-ip-perl, gettext, libfile-slurp-perl, libreadonly-perl, libreadonly-xs-perl, libperl6-junction-perl, libmail-rfc822-address-perl, libsoap-lite-perl, libjs-scriptaculous, libjs-prototype, ${misc:Depends}
Replaces: ebox (<< 0.6)
Conflicts: ebox (<< 0.12.99)
Description: eBox - Common Library
 eBox Platform is an open source small business server that can act as
 a Gateway, a Unified Threat Manager, an Office Server, an Infrastructure
 Manager, a Unified Communications Server or a combination of them. One
 single, easy-to-use platform to manage all your network services.
 .
 http://ebox-platform.com
