Source: zentyal-ips
Section: web
Priority: optional
Maintainer: José Antonio Calvo <jacalvo@zentyal.org>
Build-Depends: zbuildtools
Standards-Version: 3.9.2

Package: zentyal-ips
Architecture: all
Pre-Depends: mysql-server
Depends: zentyal-core (>= 3.3), zentyal-core (<< 3.4), zentyal-firewall, ${misc:Depends}, suricata, snort-rules-default, libtcmalloc-minimal0
Description: Zentyal - Intrusion Prevention System
 Zentyal is a Linux small business server that can act as
 a Gateway, Unified Threat Manager, Office Server, Infrastructure
 Manager, Unified Communications Server or a combination of them. One
 single, easy-to-use platform to manage all your network services.
 .
 This module adds an IDS/IPS capabilities to your Zentyal installation.
