Source: samba4
Section: net
Priority: optional
Maintainer: Zentyal Packaging Maintainers <pkg-team@zentyal.com>
Build-Depends: build-essential,
               debhelper (>> 9),
               libacl1-dev,
               libattr1-dev,
               libblkid-dev,
               libgnutls-dev,
               libreadline-dev,
               python-dev,
               python-dnspython,
               gdb,
               pkg-config,
               libpopt-dev,
               libldap2-dev,
               dnsutils,
               libbsd-dev,
               attr,
               docbook-xsl,
               libcups2-dev,
               libmagic-dev, libpcre3-dev, libclamav-dev,
               libpam0g-dev,
               libgpg-error-dev,
               libgcrypt11-dev,
               libkeyutils-dev,
               libdm0-dev,
               zlib1g-dev
Standards-Version: 3.9.3
Homepage: http://www.zentyal.org

Package: samba4
Architecture: any
Depends: python,
         python-dnspython,
         libpython2.7,
         libattr1,
         libacl1,
         libcap2,
         libgcrypt11,
         libgnutls26,
         libgpg-error0,
         libldap-2.4-2,
         libpam0g,
         libsasl2-2,
         libtasn1-3,
         dnsutils,
         libdm0,
         libcups2,
         zlib1g,
         libmagic1, libpcre3, libclamav6,
         ${misc:Depends},
         ${perl:Depends},
Replaces: samba4-common-bin, ldb-tools, tdb-tools
Breaks: samba4-common-bin, ldb-tools, tdb-tools
Description: SMB/CIFS file, NT domain and active directory server (version 4)
 Samba is an implementation of the SMB/CIFS protocol for Unix systems,
 providing support for cross-platform file sharing with Microsoft Windows, OS X,
 and other Unix systems.  Samba can also function as a domain controller
 or member server in both NT4-style and Active Directory domains.
 .
 This is a special bundled build, that means that it includes a lot of
 libraries (which are normally provided by the system) to cut down dependencies.
