#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_clean:
	make distclean
	rm -f `find . -name *\.pyc`

override_dh_auto_configure:
	./configure -C \
		--enable-developer \
		--prefix=/opt/samba4 \
		--sysconfdir=/etc/samba \
		--bundled-libraries=ALL

override_dh_auto_install:
	dh_auto_install --destdir=debian/samba4

override_dh_auto_test:
	#no selftest

override_dh_shlibdeps:
	#shlibdeps disabled (rpath)

override_dh_installdocs:
	#do not installdocs

override_dh_installchangelogs:
	#do not installchangelogs

override_dh_installexamples:
	#do not installexamples

override_dh_strip:
	dh_strip --dbg-package=samba4-dbg
