Source: zentyal-ntp
Section: web
Priority: optional
Maintainer: Zentyal Packaging Maintainers <pkg-team@zentyal.com>
Uploaders: José A. Calvo <jacalvo@zentyal.com>
Build-Depends: zbuildtools
Standards-Version: 3.9.2
Homepage: http://www.zentyal.org/
Vcs-Browser: http://git.zentyal.org/zentyal.git/tree/HEAD:/main/ntp
Vcs-Git: git://git.zentyal.org/zentyal.git

Package: zentyal-ntp
Architecture: all
Depends: zentyal-core (>= 4.2), zentyal-core (<< 4.3), zentyal-firewall,
         ntp, ntpdate, ${misc:Depends}
Description: Zentyal - NTP Service
 Zentyal is a Linux small business server that can act as
 a Gateway, Unified Threat Manager, Office Server, Infrastructure
 Manager, Unified Communications Server or a combination of them. One
 single, easy-to-use platform to manage all your network services.
 .
 This module adds a NTP server to Zentyal, allowing time synchronization from
 external servers and to internal clients.
