Source: zentyal-desktop
Section: web
Priority: optional
Maintainer: José Antonio Calvo <jacalvo@zentyal.org>
Build-Depends: debhelper (>= 5.0.0), cdbs, po-debconf
Standards-Version: 3.8.2

Package: zentyal-desktop
Architecture: all
Depends: debconf, libpam-ldap, ldap-utils, auth-client-config, libconfig-tiny-perl, libtext-template-perl, libnet-ldap-perl, unison, zenity
Description: Zentyal - Desktop package for Ubuntu clients
 Zentyal is a Linux small business server that can act as
 a Gateway, Unified Threat Manager, Office Server, Infrastructure
 Manager, Unified Communications Server or a combination of them. One
 single, easy-to-use platform to manage all your network services.
 .
 This package configures desktop clients for the Zentyal services.

