#!/bin/sh

set -e

. /usr/share/debconf/confmodule

conf_server()
{
    while true; do
        db_input high ebox-desktop/server || true
        db_go || true

        # TODO: address or domain validation?
        break;
    done
}

if [ "$1" = reconfigure ] || [ -z $2 ]; then
    conf_server
fi

exit 0
