Source: ebox-dhcp
Section: web
Priority: optional
Maintainer: Ubuntu MOTU Developers <ubuntu-motu@lists.ubuntu.com>
XSBC-Original-Maintainer: Javier Uruen Val <javi@warp.es>
Build-Depends: debhelper (>= 5.0.0), cdbs
Standards-Version: 3.7.3

Package: ebox-dhcp
Architecture: all
Depends: ebox (>= 1.1), ebox (<< 1.2), ebox-firewall, ebox-services, dhcp3-server, tftpd-hpa, libtext-dhcpleases-perl, ${misc:Depends}
Suggests: pxe, etherboot
Conflicts: ebox (<< 0.9.99)
Replaces: ebox (<< 0.9.99)
Description: eBox - DHCP server module
 eBox is a framework for the development and deployment of security-wise
 network services in small and medium-sized networks, offering a simplified
 graphical interface to non expert users. It can be set up as a gateway,
 having some extra features over a usual router.
 .
 This module adds a DHCP server to your eBox installation, allowing your
 network clients to get network configuration automatically. 
