Source: ebox-ebackup
Section: web
Priority: optional
Maintainer: José Antonio Calvo <jacalvo@zentyal.org>
Build-Depends: debhelper (>= 5.0.0), cdbs
Standards-Version: 3.8.2

Package: ebox-ebackup
Architecture: all
Depends: ebox (>= 2.0.17), ebox (<< 2.0.100), duplicity, libstring-shellquote-perl, libtimedate-perl, cron, ncftp, sshpass, libterm-readkey-perl, ntpdate, ${misc:Depends}
Description: Zentyal - Backup
 Zentyal is a Linux small business server that can act as
 a Gateway, Unified Threat Manager, Office Server, Infrastructure
 Manager, Unified Communications Server or a combination of them. One
 single, easy-to-use platform to manage all your network services.
 .
 This module offers rdiff-backup integration in Zentyal.
