[Unit]
Description=Executable for UCP sync
Requires=zentyal.webadmin-nginx.service
After=zentyal.webadmin-nginx.service

[Service]
Type=simple
User=root
Group=root
ExecStart=/usr/share/zentyal-ucp/ucp-manager.sh
KillSignal=15
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target