Source: samba-zentyal-modules
Section: universe/libs
Priority: optional
Maintainer: Zentyal Packaging Maintainers <pkg-team@zentyal.com>
Build-Depends: cdbs, debhelper (>= 4.0.0), libldb-dev, libtevent-dev, libjansson-dev
Standards-Version: 3.7.3

Package: samba-zentyal-modules
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libldb1, libjansson4
Description: Zentyal LDB module
 This module is used to forward the LDB operations to a script that
 keeps the zentyal LDAP and the samba LDB synchronized.
