Source: novnc
Section: web
Priority: optional
Maintainer: Zentyal Packaging Maintainers <pkg-team@zentyal.com>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.8.3
Homepage: https://github.com/kanaka/noVNC/

Package: novnc
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python (>= 2.6), python-numpy
Description: HTML5 VNC client
 VNC client using HTML5 (WebSockets, Canvas) with encryption (wss://) support.
