Source: zentyal-ebackup
Section: web
Priority: optional
Maintainer: José Antonio Calvo <jacalvo@zentyal.org>
Build-Depends: zbuildtools
Standards-Version: 3.9.2

Package: zentyal-ebackup
Architecture: all
Pre-Depends: mysql-server
Depends: zentyal-core (>= 6.1), zentyal-core (<< 6.2),
         duplicity, libstring-shellquote-perl, libtimedate-perl,
         libdate-calc-xs-perl, cron, ncftp, sshpass, libterm-readkey-perl,
         ntpdate, python-pexpect, ${misc:Depends}
Description: Zentyal - Backup
 Zentyal is a Linux small business server that can act as
 a Gateway, Unified Threat Manager, Office Server, Infrastructure
 Manager, Unified Communications Server or a combination of them. One
 single, easy-to-use platform to manage all your network services.
 .
 This module offers rdiff-backup integration in Zentyal.
