Source: ebox-firewall
Section: web
Priority: optional
Maintainer: Javier Uruen  <juruen@warp.es>
Build-Depends: debhelper (>= 4.0.0)
Standards-Version: 3.6.1

Package: ebox-firewall
Architecture: all
Depends: ebox-network, ebox-objects, iptables 
Replaces: ebox (<< 0.6)
Conflicts: ebox (<< 0.6)
Description: eBox Firewall  module
 eBox is a framework for the development and deployment of security-wise
 firewall services in small and medium-sized firewalls, offering a simplified
 graphical interface to non expert users. It can be set up as a gateway,
 having some extra features over a usual router.
 .
 This module adds  firewalling service, allowing to manage filter FIXME
