[Desktop Entry]
Encoding=UTF-8
Name=Administrator Console
Name[es]=Consola de Administrador
Comment=Executes a root shell
Comment[es]=Ejecuta una consola de root
Exec=pkexec env DISPLAY=$DISPLAY XAUTHORITY=$XAUTHORITY lxterminal
Icon=lxterminal
Type=Application
Categories=GTK;Utility;TerminalEmulator;
