Source: ebox-remoteservices
Section: web
Priority: optional
Maintainer: Nobody  <foo@bar.com>
Build-Depends: debhelper (>= 4.0.0), cdbs
Standards-Version: 3.7.3

Package: ebox-remoteservices
Architecture: all
Depends: ebox (>= 1.1), ebox (<< 1.2), ebox-openvpn, libarchive-tar-perl, libsoap-lite-perl, libnet-dns-perl, liblinux-inotify2-perl, ${misc:Depends}
Description: eBox - client for remote services   
 eBox is a framework for the development and deployment of security-wise
 network services in small and medium-sized networks, offering a simplified
 graphical interface to non expert users. It can be set up as a gateway,
 having some extra features over a usual router.
 .
 This module is the eBox side to perform remote services from Control
 Center system such as remote configuration backup, remote access, job execution
 in bulk (including security updates), remote alert and stats monitoring.
