Source: zentyal-ntp
Section: web
Priority: optional
Maintainer: José Antonio Calvo <jacalvo@zentyal.org>
Build-Depends: debhelper (>= 5.0.0), cdbs
Standards-Version: 3.8.2

Package: zentyal-ntp
Architecture: all
Replaces: ebox-ntp (<< 2.0.100)
Depends: zentyal-core (>= 2.1), zentyal-core (<< 2.1.100), zentyal-firewall, ntp, ntpdate, ${misc:Depends}
Description: Zentyal - NTP Service
 Zentyal is a Linux small business server that can act as
 a Gateway, Unified Threat Manager, Office Server, Infrastructure
 Manager, Unified Communications Server or a combination of them. One
 single, easy-to-use platform to manage all your network services.
 .
 This module adds a NTP server to Zentyal, allowing time synchronization from
 external servers and to internal clients.
