Source: zentyal-mailfilter
Section: web
Priority: optional
Maintainer: José Antonio Calvo <jacalvo@zentyal.org>
Build-Depends: zbuildtools
Standards-Version: 3.9.2

Package: zentyal-mailfilter
Architecture: all
Pre-Depends: mysql-server
Depends: zentyal-core (>= 3.3), zentyal-core (<< 3.4), zentyal-firewall, zentyal-users, zentyal-mail, zentyal-antivirus, amavisd-new, spamassassin, spamc, dovecot-antispam, libnet-dns-perl, arj, unrar-free, p7zip, razor, pyzor, libmail-spf-perl, ${misc:Depends}
Description: Zentyal - Mail Filter
 Zentyal is a Linux small business server that can act as
 a Gateway, Unified Threat Manager, Office Server, Infrastructure
 Manager, a Unified Communications Server or a combination of them. One
 single, easy-to-use platform to manage all your network services.
 .
 This module adds a mail filter server to your Zentyal installation, allowing to
 scan mails to filter viruses and spam.
