#login {
	margin-top: 125px;
	padding-top: 90px;
	padding-left: 80px;
	color: #898989;
	background: url('/data/images/logintro.png') top no-repeat;
	height: 201px;
	width: 420px;
}

#reason {
	font-family: Trebuchet MS;
	color: #ffffff;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	width: 200px;
	padding-top: 20px;
	padding-left: 8px;
}

body {
	color: #000000;
	font-size: 11px;
	font-family: Verdana, sans-serif;
	background-color: #FFFFFF;
	behavior: url(/data/js/csshover.htc);
}
