#header {
	height: 46px;
	background: #a6c733 url('/data/images/bkgwhite.png') top left no-repeat;
	padding:0;
	margin: 0;
	color: transparent;
}


#header a:hover {
 	background: transparent;
 	color: black;
}

#header img {
	padding-top: 3px;
	padding-left: 3px;
	padding-bottom: 0;
	margin:0;
}

#hmenu {
	position: relative;
	display: block;
	top: -46px;
	margin-right: 0px;
	float:right;
}

#hmenu a {
	display: block;
	float:left;
   	color: #fff;
   	font-size: 11px;
	line-height: 16px;
	padding: 25px 15px 5px 15px;
   	text-decoration: none;
}

#hmenu #m { background-color: #b5d448; }
#hmenu #m:hover { background-color: #C5E64E; }


#top {
	padding:0;
	font-size: 0;
	margin:0;
}

#content {
	z-index: 9;
	margin-top: 15px;
	padding-left: 180px;
}

#menu {
	clear: left;
	float: left;
	padding: 15px 0 0 0;
}

#footer {
	color: #888;
	clear: both;
	font-size: 11px;
	text-align: center;
	width: 100%;
	margin-top: 20px;
	margin-left: 0px;
	padding: 3px;
}

#footer a { 
	text-decoration: underline; 
	color: #888;
}

#footer a:active { 
	text-decoration: underline; 
	color: #888;
}

#footer a:hover { 
	text-decoration: none;
	background: #888;
	color: #fff;
}

.help {
	display: none;
	border-bottom: 1px solid #1d4efa;
	padding: 9pt 9pt 9pt 33pt;
	color: #484554;
	font-size: 8pt;
	background: #DFF5FE url("/data/images/help.gif") 6pt 6pt no-repeat;
	margin: 1em 0px 1em 0px;
}

.note {
	border-bottom: 1px solid #a9c500;
	padding: 9pt 9pt 9pt 33pt;
	margin-bottom: 10px;
	color: #484554;
	font-size: 8pt;
	background: #dfef7a url("/data/images/msg.gif") 6pt 6pt no-repeat;
	margin: 1em 0px 0em 0px;
}

.error {
	border-bottom: 1px solid #fa601d;
	padding: 9pt 9pt 9pt 33pt;
	color: #484554;
	font-size: 8pt;
	background: #FDDDD9 url("/data/images/error.gif") 6pt 6pt no-repeat;
	margin: 1em 0px 0em 0px;
}

.warning {
	border-bottom: 1px solid  #ebfa1d;
	padding: 9pt 9pt 9pt 33pt;
	color: #484554;
	font-size: 8pt;
	background: #f8fea5 url("/data/images/warning.gif") 6pt 6pt no-repeat;
	margin: 1em 0px 0em 0px;
	margin-bottom: 10px;
}

.helptd {
	width: 100%;
	color: #AAAAAA;
	text-align: justify;
	margin-left: 30px;
	padding-left: 25px;
	background: url("../images/help.gif") no-repeat center left;
}

.ifname {
	color: #000000;
	font-weight: bold;
	border-bottom: 7px solid #FFFFFF;
}

.tleft { text-align: left; }

.objectAddr {
	font-size: 11px;
	margin-left: 30px;
}

.test { border-bottom: 0px;  }

.ok { color: #70FC00; }

.nok { color: #BC0606; }

.tcenter { text-align: center; }

.thOptions {
	background: #787878;
	padding:0;
	margin:0;
	width: 13%;
}

.thOptionsFwd {
	padding:0;
	margin:0;
	background: #787878;
}

.summarySection {
	width: 70%;
	margin-bottom: 15px;
	margin-left:0px; 
}

.summarySection tr {
	vertical-align: center;
}

.summaryValue {
	padding-left: 15px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-family: monospace;
	background-color: #F4F4F4;
}

.summaryKey {
	width: 35%;
	color: #4c4c4c;
	background-color: #ffffff;
	text-align: right;
	font-weight: bold;
	padding: 3px 4px 3px 4px;
}

.legend {
	float:left; 
	margin-bottom: 15px;
}

.dataTable {
	width: 100%;
	float: left;
	color:#000000;
	font-size: 11px;
	border: 0px;
	border-collapse: collapse;
	border-spacing: 0px;
	margin-bottom: 20px; 
}

.dataTable td {
	padding: 5px;
	border-top: 1px solid #e1ebc4;
	border-bottom: 1px solid #e1ebc4;
}

.dataTable td a {
	color: #000000;
	text-decoration: none;
}

.dataTable tbody tr:hover {
	background: #eeeedd;
	color: #000000;
}

.dataTable td a:hover { color: #BC0606; }

.dataTable th {
	font-family: Verdana, 'Bitstream Vera Sans', sans-serif;
	padding: 6px;
	color: #fff;
	background: #787878;
	vertical-align: bottom;
}

.dataTable { background: #FFF; }

.dataTable tr.highlight { background: #E58A22; }

.dataTable tr.highlight:hover { background: #F2A349; }

.iptable {
	font-size: 11px;
	margin-left: 25px;
	background-color: #EEEEEE;
}

iptable tr {
	background-color: #EEEEEE;
}

.iptableaux {
	width: 100%;
	margin-left: 0px;
	margin-top: 10px;
}

.iptableaux th {
	color: #4f4f4f;
	background-color: #e4e8f1;
}

.tright {
	text-align: right;
	vertical-align: top;
}

.border { border-bottom: 1px solid #CCCCCC; }

.noborder { border: 0; }

.endform {
	padding-top: 8px;
	border-top: 1px solid #CCCCCC;
}

select {
	font-size: 11px;
	font-family: Verdana, sans-serif;
}

.inputText, .inputTextError {
	color: #000000;
	font-size: 11px;
	font-family: Verdana, sans-serif;
}

.inputTextError { border: 3px solid red; }

.inputText:focus { background-color: #ffffff; }

.inputTextLogin {
	color: #000000;
	font-size: 11px;
	font-family: Verdana, sans-serif;
}

.inputButtonRestart {
	font-size: 11px;
	font-family: Verdana, sans-serif;
}

.inputButton {
	font-size: 11px;
	font-family: Verdana, sans-serif;
}

.msg {
	color: #FFFFFF;
	padding: 10px;
	background-color: #06BC06;
}

.logout {
	font-size: 11px;
	font-family: Verdana, sans-serif;
	border-top: 1px solid #ccc; 
	border-left: 1px solid #ccc;
	border-right: 1px solid #4c4c4c;
	border-bottom: 1px solid #4c4c4c;
	background-color: #eee;
	color: #000;
	padding: 2px 5px 2px 5px;
}

body {
	width: 820px;
	margin: 0px;
	padding:0;
	margin-left:10px;
	color: #000000;
	font-size: 11px;
	font-family: Verdana, sans-serif;
	background-color: #ffffff;
	behavior: url(/data/js/csshover.htc);
}

.title {
	display: block;
	color: #787878;
	font-weight: bold;
	font-size: 17px;
	background-color: #FFFFFF;
	font-family: Trebuchet MS, Verdana, sans-serif;
	float: left;
}

h3 {
	font-size: 14px;
	font-family: Trebuchet MS, Verdana, sans-serif;
	font-weight: bold;
	margin-bottom: 8px;
	color: #a6c733;
}

h4 {
	font-size: 12px;
	color: #666464;
	margin-top: 10px;
	margin-bottom: 7px;
	padding-left: 2px;
	letter-spacing: .2ex;
}

a {
	color: #888;
	text-decoration: underline;
}

a:active {
	color: #888;
	text-decoration: underline;
}

a:hover {
	text-decoration: none;
	background: #888;
	color: #ffffff;
}

a img { border: 0px; }

input {
	font-size: 11px;
	font-family: Verdana, sans-serif;
}

.dataTableMini caption, .ftitle {
	text-align: left;
	border: 0px;
	padding: 2px;
}

.dataTable caption {
	font-weight: bold;
	background-color: #ffffff;
	text-align: left;
	color: #4c4c4c;
	border: 0px;
	padding: 2px;
}

.formTable {
	border: 0px;
	border-collapse: collapse;
	border-spacing: 0px;
	width: auto;
}

.formTable td {
	padding-top: 4px;
	padding-bottom: 4px;
}

.endproxyform {
	margin-left: 167px;
	padding-top: 7px;
}

.ifaces {
	border-bottom: 1px solid #787878;
	padding-bottom: 5px;
	padding-left: 15px;
	padding-top: 13px;
}

.selected {
	border-top: 1px solid #787878;
	border-left: 1px solid #787878;
	border-right: 1px solid #787878;
	border-bottom: 1px solid #fff;
	padding: 5px 10px 5px 10px;
	background: #fff; 
	color:  #787878;
	font-weight: bold;
}

.ifaces a {
	border-top: 1px solid #dddddd;
	border-left: 1px solid #dddddd;
	border-right: 1px solid #dddddd;
	background: #efefef;
	color: #999;
	padding: 5px 10px 5px 10px;
}

.ifaces a:hover {
	color: #4c4c4c;
	background-color: #eeeeee;
	border-top: 1px solid #aaa;
	border-left: 1px solid #aaa;
	border-right: 1px solid #aaa;
}

#helpbutton {
	font-size: 11px;
	font-weight: bold;
	font-family: Trebuchet MS, sans-serif;
	text-align: center;
	clear:right;
	display:inline;
	margin-left: 10px;
}

#helpbutton a { color: #859E83; }

#helpbutton a:hover { color: #ffffff; }

#titlehelp {
	width: auto;
	height: 25px;
}

#nav, #nav ul, #nav li ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#nav { margin-bottom: 0em; }	

#nav li, #nav li li {
	display: inline;
	padding: 0;
	margin: 0;
}
	
#nav li li { display: none; }

#nav li a {
	display: block;
	padding: 8px 10px;
	text-decoration: none;
	padding-left: 4px;
	margin: 0px;
	margin-right: 0px;
	color: #5E695D;
	font-weight: bold;
	border:0;
	background-color: #ffffff;
}

#nav li a:hover { color: #99Afb9; }

#nav li li a {
	display: block;
	padding: 6px 8px 6px 20px;
	margin:0;
	background: none;
	border-bottom:0;
	border-top:0;
	font-weight: normal;
}
	
#nav {
	line-height: 1em;
	width: 160px;
}

.sleft { float: left; }

.sright { float: right; }

.stitle {
	background-color: #BBDF39;
	color: #ffffff;
	padding: 1px;
}

.trimp {
	border-bottom: 1px solid #eeeeee;
	background-color: #ffe9e8;
}

pre {
	background-color: #4B4B4B;
	color: #EAEAEA;
	border: 1px solid #BABABA;
	padding: 10px;
}

.notchanged {
	background-color: #BBDF39; 
}

a.notchanged:hover { 
	background-color: #CBF23E; 
}

.changed {
	background-color: #F60000; 
}

a.changed:hover { 
        background-color: #FF2424; 
}

.comment {
	font-style: italic;
	color: #4a4a4a;
	font-size: 9px;
}

#enable {
       background-color: #FFFFCC;
       padding: 10px;
       border: 1px solid #FFCC99;
       margin: 5px 0 5px 0;
}

.bold { font-weight: bold; } 

.legendName { 
              padding-right: 10px;
              }
