Source: zentyal-mail
Section: web
Priority: optional
Maintainer: José Antonio Calvo <jacalvo@zentyal.org>
Build-Depends: zbuildtools
Standards-Version: 3.9.2

Package: zentyal-mail
Architecture: all
Pre-Depends: zentyal-core
Depends: zentyal-core (>= 4.2), zentyal-core (<< 4.3),
         zentyal-firewall, zentyal-openchange,
         postfix, postfix-ldap, postfix-pcre, ssl-cert, libsasl2-modules, dovecot-common,
         dovecot-imapd, dovecot-pop3d, dovecot-sieve, dovecot-managesieved, dovecot-ldap,
         dovecot-gssapi, dovecot-sqlite, postgrey, fetchmail, archivemail, libcrypt-rijndael-perl,
         ${misc:Depends}
Description: Zentyal - Mail and Groupware
 Zentyal is a Linux small business server that can act as
 a Gateway, Unified Threat Manager, Office Server, Infrastructure
 Manager, Unified Communications Server or a combination of them. One
 single, easy-to-use platform to manage all your network services.
 .
 This module adds a mail server to your Zentyal installation.
