[Unit]
Description=Zentyal fetchmail daemon
After=network.target

[Service]
Type=simple
ExecStart=/bin/su fetchmail -c '/usr/bin/fetchmail --nodetach -f /etc/zentyal-fetchmail.rc'
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
